<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach(function(e) { %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.position %></td>
        <td><a href="/employees/<%= e._id %>">DETAILS</a></td>
      </tr>
    <% }) %><!-- Close the forEach using EJS here -->
  </tbody>
</table>

<%- include('../partials/footer') %>