<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= employee.name %></div>
  <div>Department: </div>
  <div><%= employee.department %></div>
  <div>Position: </div>
  <div><%= employee.position %></div>
  <div>Hourly Wage: </div>
  <div><%= employee.hourlyWage %></div>
  <div>Yearly Wage: </div>
  <div><%= employee.yearlyWage %></div>
  <div>Hire Date: </div>
  <div><%= employee.hired.toISOString().split('T')[0] %></div>
  <div>Date of Birth: </div>
  <div><%= employee.DOB.toISOString().split('T')[0] %></div>
</section>

<div id="edit">
    <button><a class="edit"href="/employees/<%= employee._id %>/edit">Edit Employee</a></button>
</div>

<%- include('../partials/footer') %>