
<!-- with bootstrap -->
<%- include('../partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <table class="table show-td">
        <tbody>
          <tr><td>Name:</td><td><%= employee.name %></td></tr>
          <tr><td>Department:</td><td><%= employee.department %></td></tr>
          <tr><td>Position:</td><td><%= employee.position %></td></tr>
          <tr><td>Hourly Wage:</td><td><%= employee.hourlyWage %></td></tr>
          <tr><td>Yearly Wage:</td><td><%= employee.yearlyWage %></td></tr>
          <tr><td>Hire Date:</td><td><%= employee.hired.toISOString().split('T')[0] %></td></tr>
          <tr><td>Date of Birth:</td><td><%= employee.DOB.toISOString().split('T')[0] %></td></tr>
          <tr><td>Clocked in:</td><td><%= employee.present? 'Yes' : 'No' %></td></tr>
        </tbody>
      </table>

      <!-- Clock In/Out Buttons -->
      <div class="d-flex justify-content-between my-3 mt-5">
        <!-- Clock In Form-->
        <form action="/employees/<%= employee._id %>/clockIn" method="POST">
          <button type="submit" class="btn btn-primary btn-custom" id="clockInButton">Clock In</button>
        </form>
        <!-- Clock out form-->
        <form action="/employees/<%= employee._id %>/clockOut" method="POST">
          <button type="submit" class="btn btn-secondary btn-custom" id="clockOutButton">Clock Out</button>
        </form>
      </div>

      <div class="d-flex justify-content-between my-3 mt-5">
        <a href="/employees/<%= employee._id %>/edit" class="btn btn-info btn-custom">Edit Employee</a>
        <form action="/employees/<%= employee._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger btn-custom">Delete Employee</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>

<script>
  window.onload = function() {
    document.getElementById('clockInButton').onclick = function(event) {
      var isPresent = "<%= employee.present %>";
      var name = "<%= employee.name %>";
      if(isPresent == 'true') {
        event.preventDefault();
        alert("Employee is already clocked in");
      }
      else {
        alert(`Employee ${name} clocked in`);
      }
    }
    document.getElementById('clockOutButton').onclick = function(event) {
      var isPresent = "<%= employee.present %>";
      var name = "<%= employee.name %>";
      if(isPresent == 'false') {
        event.preventDefault();
        alert('Employee is already clocked out');
      }
      else {
        alert(`Employee ${name} clocked out`);
      }
    }

  }
</script>
